
h1{
    display: inline-block;
    color: fff;
    padding: 50px;
    font-size: 5em;
    background-color: palegreen;
    margin: 20px 20 px;
    text-align: center; 
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: 30px 30px 50px 0 black;
    text-shadow:10px 10px 10px darkcyan;
    transform: rotate(-20deg)

}
h2{
    background-color: palevioletred;
    
    padding: 10px;
    
    
}

p{
    color: tomato;
    font-family: rose-cake;
}
div{
    height: 10px;
    width: 100%;
}

div img{
    width: 600px;
    font-family: ;
}

@font-face {
    font-family:sketchy;
    src:url('sketchyttf'); format('truetype');
}

h1{
    font-family: sketchy;
}

@font-face {
    font-family:bebas-neue;
    src:url('bebas-neue'); format('truetype');
}

h2{
    font-family: bebas-neue;
}

@import url('http://fonts.cdnfonts.com/css/rose-cake-personal-use');

h1{
    font-family: 'Rose Cake - Personal Use', sans-serif;
}